@page "/"

@using MediatR;
@using Aymeeeric.Website.Components.Slices.MYZ.SectorsGeneration.Queries

@inject IMediator Mediator

<PageTitle>Aymeeeric.fr - Mutant: Year Zero - Génération de secteurs</PageTitle>

<h1 class="ADM_MainTiltle">
    Mutant: Year Zero - Génération de secteurs
</h1>

<FluentStack Orientation="Orientation.Vertical" Width="100%" VerticalGap="50" VerticalAlignment="VerticalAlignment.Center">

    <!-- Formulaire -->
    <FluentGrid Spacing="2" Justify="JustifyContent.Center">
        
        <FluentGridItem xl="3" lg="4" md="5" xs="12">
            <FluentCard AreaRestricted="false">
                <FluentStack Orientation="Orientation.Vertical">
                    <FluentNumberField Min="1" Max="12" Label="Nombre de secteurs" @bind-Value=_numberOfSectorsToGenerate  @ref=firstFocusField></FluentNumberField>
                    <FluentNumberField Min="0" Max="12" Label="Niveau de menace" @bind-Value=_threatLevel></FluentNumberField>
                    <FluentRadioGroup Name="numbers" @bind-Value=_randomMode Label="Génération des environnemets">
                        <FluentRadio Value=GenerationMode.Perlin Disabled="true">Cohérente</FluentRadio>
                        <FluentRadio Value=GenerationMode.Random>Aléatoire</FluentRadio>
                    </FluentRadioGroup>
                    
                    <FluentTextField Label="Seed" @bind-value="_seed"></FluentTextField>
                    
                    <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowClockwise())"
                                  Appearance="Appearance.Accent"
                                  OnClick="@GenerateSectors">        
                        Générer
                    </FluentButton>
                </FluentStack>
            </FluentCard>
        </FluentGridItem>
        
        <FluentGridItem xl="9" lg="8" md="7" xs="12">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lorem lacus.
                Ut id leo non enim feugiat ultrices. Proin vulputate volutpat urna nec iaculis.
                Integer dui lacus, fermentum sit amet aliquet in, scelerisque vitae dui.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lorem lacus.
                Ut id leo non enim feugiat ultrices. Proin vulputate volutpat urna nec iaculis.
                Integer dui lacus, fermentum sit amet aliquet in, scelerisque vitae dui.
            </div>
        </FluentGridItem>
        
    </FluentGrid>

    <!-- Résultat -->
    <FluentGrid Spacing="2" Justify="JustifyContent.Center">
        
        @if (_sectors.Any())
        {
            @foreach (var sector in _sectors)
            {
                <FluentGridItem  xl="4" lg="6" md="12" xs="12">
                    <FluentCard AreaRestricted="false">

                        <!-- Titre (Environnement) -->
                        <FluentHeader>
                            <FluentGrid Spacing="2" Justify="JustifyContent.SpaceBetween">
                                <FluentGridItem xl="6" lg="6" md="5" xs="5">@sector.Title.Environment</FluentGridItem>
                                <FluentGridItem xl="3" lg="3" md="3" xs="3">Menace @sector.Title.ThreatLevel</FluentGridItem>
                                <FluentGridItem xl="3" lg="3" md="4" xs="4" Style=@($"background-color:{sector.Title.GangreneColor}")>Gangrène @sector.Title.GangreneLevel</FluentGridItem>
                            </FluentGrid>
                        </FluentHeader>

                        <!-- Ruines (si présentes) -->
                        <FluentGrid Spacing="0" Justify="JustifyContent.SpaceBetween" Style="margin: 2%">
                            <FluentGridItem xl="10" lg="10" md="10" xs="10"><h4>Ruines</h4></FluentGridItem>
                            <FluentGridItem xl="2" lg="2" md="2" xs="2">
                                <FluentBadge Appearance=@GetBadgeAppearance(sector.Ruin.IsRuinInSector) Width="60%">
                                    @BoolToString(sector.Ruin.IsRuinInSector)
                                </FluentBadge>
                            </FluentGridItem>
                            @if (sector.Ruin.IsRuinInSector)
                            {
                                <FluentGridItem xs="10">
                                    <b>@sector.Ruin.RuinName (@sector.Ruin.RuinType) :</b> @sector.Ruin.RuinDefinition
                                </FluentGridItem>
                            }
                        </FluentGrid>

                        <!-- Ambiance (si présente) -->
                        <FluentGrid Spacing="0" Justify="JustifyContent.SpaceBetween" Style="margin: 2%">
                            <FluentGridItem xs="10"><h4>Ambiance</h4></FluentGridItem>
                            <FluentGridItem xs="2">
                                <FluentBadge Appearance=@GetBadgeAppearance(sector.Atmosphere.IsAtmosphereInSector) Width="60%">
                                    @BoolToString(sector.Atmosphere.IsAtmosphereInSector)
                                </FluentBadge>
                            </FluentGridItem>
                            @if (sector.Atmosphere.IsAtmosphereInSector)
                            {
                                <FluentGridItem xs="10">
                                    <b>@sector.Atmosphere.AtmosphereName :</b> @sector.Atmosphere.AtmosphereDefinition
                                </FluentGridItem>
                            }
                        </FluentGrid>

                        <FluentDivider Orientation="Orientation.Horizontal" Style="width: 80%; margin: 2% 0 2% 0"></FluentDivider>

                        <!-- Menace (si présente) -->
                        <FluentGrid Spacing="0" Justify="JustifyContent.SpaceBetween" Style="margin: 2%">
                            <FluentGridItem xs="10"><h4>Menace</h4></FluentGridItem>
                            <FluentGridItem xs="2">
                                <FluentBadge Appearance=@GetBadgeAppearance(sector.Threat.IsThreatInSector) Width="60%">
                                    @BoolToString(sector.Threat.IsThreatInSector)
                                </FluentBadge>
                            </FluentGridItem>
                            @if (sector.Threat.IsThreatInSector)
                            {
                                <FluentGridItem xs="12">
                                    <FluentStack Orientation="Orientation.Horizontal">
                                        <span><b>@sector.Threat.ThreatType :</b> @sector.Threat.ThreatName</span>
                                        <FluentBadge>@($"P{sector.Threat.ThreatPage}")</FluentBadge>
                                    </FluentStack>
                                </FluentGridItem>
                            }
                        </FluentGrid>

                        <FluentDivider Orientation="Orientation.Horizontal" Style="width: 80%; margin: 2% 0 2% 0"></FluentDivider>

                        <!-- Artefact et babioles (si présents) -->
                        <FluentGrid Spacing="0" Justify="JustifyContent.SpaceBetween" Style="margin: 2%">

                            <FluentGridItem xs="10"><h4>Artefact</h4></FluentGridItem>
                            <FluentGridItem xs="2">
                                <FluentBadge Appearance=@GetBadgeAppearance(sector.Artifact.IsArtifactInSector) Width="60%">
                                    @BoolToString(sector.Artifact.IsArtifactInSector)
                                </FluentBadge>
                            </FluentGridItem>
                            @if (sector.Artifact.IsArtifactInSector)
                            {
                                <FluentGridItem xs="12">
                                    <FluentStack Orientation="Orientation.Horizontal">
                                        <span>@sector.Artifact.ArtifactName</span>
                                        <FluentBadge>@($"P{sector.Artifact.ArtifactPage}")</FluentBadge>
                                    </FluentStack>
                                </FluentGridItem>
                            }

                            <FluentDivider Orientation="Orientation.Horizontal" Style="width: 20%; margin: 2% 0 2% 0"></FluentDivider>

                            <FluentStack Orientation="Orientation.Horizontal">
                                <h5>Babioles :</h5>
                                <span>@string.Join(", ", sector.Trinket.TrinketsNames)...</span>
                            </FluentStack>
                            
                        </FluentGrid>

                    </FluentCard>
                </FluentGridItem>
            }
        }
    </FluentGrid>
    
</FluentStack>

@* IHM *@
@code
{
    FluentNumberField<int> firstFocusField;
    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            firstFocusField!.FocusAsync();
        }
    }

    private Appearance GetBadgeAppearance(bool isSomethingInbBadge)
    {
        return isSomethingInbBadge ? Appearance.Accent : Appearance.Neutral;
    }
}

@* Query *@
@code {

    GenerationMode _randomMode = GenerationMode.Random;
    int _numberOfSectorsToGenerate = 6;
    int _threatLevel = 4;
    string _seed = string.Empty; 
    
    List<Sector> _sectors = new();
    async Task GenerateSectors()
    {
        var generateSectorsQuery = new GenerateSectorsQuery(
            _randomMode,
            _numberOfSectorsToGenerate,
            _threatLevel,
            string.IsNullOrEmpty(_seed) ? DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm:ss") : _seed
        );

        _sectors = await Mediator.Send(generateSectorsQuery);
    }

}

@* Helpers *@
@code
{
    string BoolToString(bool boolToConvert)
    {
        return boolToConvert ? "Oui" : "Non";
    }
}